<!DOCTYPE html>
<html>
    <head>
        <title>Cellular Automata Laboratory</title>
        <link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/catest.css">
    </head>
    <body>
        <h1>Cellular Automaton Explorer</h1>
        
        <div id="favorites">
                {{{body}}}
        </div>
        
        <script src="/javascripts/ca.js"></script>
    </body>
</html>